@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Multi-auth sample
</h1>
<p>
    This sample demonstrates how you can configure your app to authenticate against AzureAD, AzureAD B2C, and a generic OpenIDConnect provider, all at the same time.
</p>